/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 1, 2024, 9:40:48 PM
    Author     : vin
*/

body, html {
    margin: 0;
    padding: 0;
    background-image: url(giftest4.gif);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(0,0,0);
    height: 100%;
    color: rgb(255,255,255);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Tahoma, sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
    background: transparent;
}


.ucontainer {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.uimage-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 10px;
}

.uimage-container img {
    height:100%;
}

.utopicon {
    margin: 4px 8px;
    width: 45px;
    height: 45px;
    opacity: 65%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.utopicon:hover {
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.8);
}

.utoptile {
    width: 100%;
    background-color: rgba(0,0,0,0);
    margin: 9px;
    border-radius: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.utile {
    width: 70%;
    height: 55px;
    background-color: rgba(0,0,255,0);
    margin: 12px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(255,0,255,0.4);
    border-width: 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

.utile:hover {
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.6);
}

.uicon {
    margin: 0px 0px;
    width: 35px;
    height: 35px;
    opacity: 0%;
    display: flex;
    align-items: center;
}

.utile-share-button {
    margin: 15px 0px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
}

.utile-share-button img {
    opacity: 0%;
}

pre {
    background-color: rgba(0,0,0,0) !important;
    display: flex !important;
    align-items: center !important;
    font-size: 18px !important;
}
